*{
    margin: 5px;
}

#map {
    height: 500px;
    width: 99%;
    border-radius: 3px;
}

.card-img {
    opacity: 0.5;
    max-height: 800px;
}

.card-text, .card-title {
    display: block;
}

/* Changing <a> color to fit with the site color scheme */

.city:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }

.city:visited {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

.city:hover {
  color: rgba(255, 0, 0, 0.658);
  background-color: transparent;
  text-decoration: underline;
}

.city:active {
  color: ivory;
  background-color: transparent;
  text-decoration: underline;
}
