#navigation {
    position: sticky;
    margin-bottom: 2px;
    margin-left: 5px;
}

#map {
    height: 400px;
    width: 100%;
    margin-top: 10px;

}

.card-img {
    opacity: 0.5;
    max-height: 800px;
}

